.mini-submenu {
  display:none;
  background-color:rgba(0,0,0,0);
  border:1px solid rgba(0,0,0,0.9);
  border-radius:4px;
  padding:9px;
  width:42px;
  .icon-bar {
    border-radius:1px;
    display:block;
    height:2px;
    width:22px;
    margin-top:3px;
    background-color:#000000;
  }
}
.mini-submenu:hover {
  cursor:pointer;
}
#slide-submenu {
  background:rgba(0,0,0,0.45);
  display:inline-block;
  padding:0 8px;
  border-radius:4px;
  cursor:pointer;
}
