<!-- High School Course Player Main Template -->


<!-- Top Navigation Menu -->

<div>
   ||
</div>

<!-- Left Quick Menu -->
<div class="row">
  <div class="col-sm-4 col-md-3 sidebar">
  <div class="mini-submenu" ng-hide="leftMenuShow" ng-click="leftMenuShow=true" ng-init="leftMenuShow=true">
    <i class="fa fa-align-justify fa-2x" ></i>
  </div>
  <div class="list-group" ng-show="leftMenuShow">
      <span href="#" class="list-group-item active">
          Submenu
          <span class="pull-right" id="slide-submenu" ng-click="leftMenuShow=false">
              <i class="fa fa-times"></i>
          </span>
      </span>
      <a href="#" class="list-group-item">
          <i class="fa fa-comment-o"></i> Lorem ipsum
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-search"></i> Lorem ipsum
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-user"></i> Lorem ipsum
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-folder-open-o"></i> Lorem ipsum <span class="badge">14</span>
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-bar-chart-o"></i> Lorem ipsumr <span class="badge">14</span>
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-envelope"></i> Lorem ipsum
      </a>
  </div>
</div>
</div>


<div ui-view="coursePlayerMain">

</div>
