<!DOCTYPE html>
<html ng-app="ngEdisonCds" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta property="og:title" content="Edison CDS" />
    <meta property="og:type" content="Edison CDS HTML5 App" />
    <meta property="og:description" content="Edison CDS HTML5 App">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  </head>
  <body>

    <div class="container" ui-view="main">
      <!-- Here actual content will come -->
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          Edison CDS v<%= version %>
        </div>
      </div>
    </footer>

    <!-- JavaScript At Bottom of Page -->
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </body>
</html>
