<div class="jumbotron">
  <h1>Edison Learning Course Delivery System</h1>
  <p class="lead">
    Edison Learning Course Delivery System
  </p>
</div>

<div class="marketing">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-thumbs-up"></i> Course Player!</h4>
      <p>
        For High School Student.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-magic"></i> My Day</h4>
      <p>
        My Day Course Player For Middle School.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-retweet"></i> Assessment Player</h4>
      <p>
        Common Assessment Player
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-star"></i> Get to Know</h4>
      <p>
        Get to Know to understand the lesson
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-resize-small"></i> Content Player</h4>
      <p>
        Content player to play HTML, PDF, Video and other contents.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-twitter"></i> About</h4>
      <p>
        <a href ui-sref="about">Learn more about this app.</a>
      </p>
    </div>
  </div>

</div>
